{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
    <div class="Mainbackground">
        <a href="/addroom" class="adminloginbtn">            Add room    </a>   
        <a href="/addemp" class="adminloginbtn">             Add emp    </a>
        <a href="/change_emp_job" class="adminloginbtn">     Change emp job    </a>
        <a href="/change_emp_sal" class="adminloginbtn">     Change emp salary    </a>
        <a href="/change_room_price" class="adminloginbtn">  Change room price    </a>
        <a href="/delete_emp" class="adminloginbtn">         Delete emp    </a>
        <a href="/delete_room" class="adminloginbtn">        Delete room    </a>
        <a href="/disp_cust" class="adminloginbtn">          Display customers    </a>
        <a href="/disp_pays" class="adminloginbtn">          Display pays    </a>
        <a href="/disp_revs" class="adminloginbtn">          Display reservations    </a>
        <a href="/disp_rooms" class="adminloginbtn">         Display rooms    </a>
        <a href="/disp_emps" class="adminloginbtn">          Display employees    </a>
    </div>
{% endblock %}