{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="bgimg">
        <div class="bg_container">
                <br><br>
                <h1>Welcome to Hotel Management System</h1>    <br>
                <h2>Main Login Page</h2>
            <form>
                <br>
                    <a href="/loginowner" class="btn">
                        Admin
                    </a>
                <br>
                    <a href="/loginresident" class="btn">
                        Resident of hotel
                    </a>
                <br>
                    <a href="/signup" class="btn">
                        New Customer
                    </a>
                <br>

            </form>
        </div> 
    </div>
{% endblock %}