{% extends 'base.html' %}

{% block head %}
    <title>Avail Services</title>
{% endblock %}

{% block body %}
    <div class="bgimg1">
        <form class="form_container" method="post" action="/OrderFood">
            <h1>Enter your choice</h1>  <br>
            
            <h2> 1.Chicken (500 RS) </h2>  <br>
            <h2> 2.Mutton (600 RS) </h2>   <br>
            <h2> 3.Beef (700 RS) </h2>  <br>
            
            <input type="number" placeholder="Choice" id="service_choice" name="service_choice">
            <button type="submit" class="btn2">Submit</button>
        </form>
    </div>
{% endblock %}