{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
    <div class="Mainbackground">   
        <a href="/book_room"                class="residentloginbtn">     Book room    </a>
        <a href="/avail_services"           class="residentloginbtn">     Avail services    </a>
        <a href="/print_details"            class="residentloginbtn">     Print details    </a>
        <a href="/checkout"                 class="residentloginbtn">     Check out    </a>
        <a href="/disp_available_rooms"     class="residentloginbtn">     Display Available Rooms    </a>
    </div>
{% endblock %}